body {
  background: url("../images/background.jpeg") no-repeat center fixed;
  background-size: cover;
}
.container {
  background-color: #f8f8f8;
  margin-top: 5%;
  padding-bottom: 2%;
}
.title {
  font-family: "Press Start 2P", cursive;
}
h3 {
  font-family: "Russo One", sans-serif;
}
h4 {
  font-family: "Russo One", sans-serif;
}
button {
  margin: 5px;
}
div {
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 800px) {
  h4 {
    font-size: 25px;
  }
}
@media screen and (max-width: 625px) {
  h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 480px) {
  h4 {
    font-size: 15px;
  }
}
